body{
    padding: 0;
    margin: 0;
}
.contenar{
    width: 80%;
    margin: auto;
    padding-top: 130px;

}
.header{
    background-image:url(img/header-bg.png);
    background-size: cover;
    height: 730px;

    
}
img{
    width: 100%;
}
.left-header{
    width: 35%;
    padding: 2%;
    float: left;
}
.right-header{
    width: 35%;
    float: left;
    margin-left: 280px;
}
.left-header button{
    background: rgb(255, 0, 64);
    padding: 9px 14px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.left-header button a {
    text-decoration: none;
    color: #fff;
}
p{
    color: #6d6767;
    line-height: 1.5rem;
}
.bio{
    background-image: url(img/biography-bg.png);
    height: 730px;
    background-size: cover;
}
.bio .images{
    width: 35%;
    float: left;
    padding: 2.5%;
}
.text h2{
    font-size: 40px;
}
.bio .text{
    width: 35%;
    float: left;
    padding: 2.5%;
    margin-left: 120px;
    margin-top: 50px;
}
.w-hed h1{
    text-align: center;
    font-size: 36px;
}
.w-img img{
    width: 28%;
    float: left;
    padding: 2.33%;
}
.client{
    margin-top: 200px;
}
.c-text {
    text-align: center;
    padding:  40px;
}
.c-text h1{
    
    font-size: 30px;
}
.c-text h3{
    color: #2b2828;
}
.c-text h5{
    font-weight: 500;
    color:#282828 ;
}
.c-button{
    text-align: center;

}
.c-b{
    width: 50%;
   padding: 5px;
   background: rgb(214, 36, 96);
   border-radius: 10px;
   color: #fff;
   margin-left: 25%;
}
.c-b p{
    color: #fff;
}
.futar{
    text-align: center;
    margin-top:400px
}